<form class="form-signup" name="form" (ngSubmit)="register(user)" novalidate #signupForm="ngForm">
  <div class="text-center mb-4">
    <img class="mb-4" src="http://logonoid.com/images/bootstrap-logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">注册</h1>
  </div>
  <div class="form-group" [class.has-success]="name.valid && submitted" [class.has-error]="!name.valid && submitted">
    <label>用户名</label>

    <input type="text" name="name" class="form-control" [(ngModel)]="user.name" required #name="ngModel">
    <p class="help-block" [hidden]="name.valid || (name.pristine && !signupForm.submitted)">
      请输入用户名
    </p>
  </div>

  <div class="form-group" [class.has-success]="email.valid && signupForm.submitted" [class.has-error]="!email.valid && signupForm.submitted">
    <label>电子邮箱</label>

    <input type="email" name="email" class="form-control" [(ngModel)]="user.email" required mongoose-error #email="ngModel">
    <p class="help-block" [hidden]="email.valid || (email.pristine && !signupForm.submitted)">
      请输入有效邮箱地址
    </p>
    <p class="help-block" [hidden]="!errors.email">
      {{ errors.email }}
    </p>
  </div>

  <div class="form-group" [class.has-success]="password.valid || (password.pristine && !signupForm.submitted)"
    [class.has-error]="!password.valid || (password.pristine && !signupForm.submitted)">
    <label>密码</label>

    <input type="password" name="password" class="form-control" [(ngModel)]="user.password" minlength="8" maxlength="128"
      required #password="ngModel" />
    <p class="help-block" [hidden]="password.valid || (password.pristine && !signupForm.submitted)">
      密码长度必须在8到128字符之间
    </p>
    <p class="help-block" [hidden]="errors.password">
      {{ errors.password }}
    </p>
  </div>

  <div class="form-group" [class.has-success]="confirmPassword.valid || (confirmPassword.pristine && !signupForm.submitted)"
    [class.has-error]="!confirmPassword.valid || (confirmPassword.pristine && !signupForm.submitted)">
    <label>确认密码</label>
    <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="user.confirmPassword"
      ac-match-control="password" required #confirmPassword="ngModel">
    <p class="help-block" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !signupForm.submitted)">
      两次输入密码不同，请检查并重新输入
    </p>
  </div>

  <div>
    <button class="btn btn-inverse btn-lg btn-register btn-block" type="submit" [disabled]="!signupForm.form.valid">
      注册
    </button>
  </div>

</form>
