<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>更改密码</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" (ngSubmit)="changePassword()" novalidate>
        <div class="form-group">
          <label>目前密码</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="user.oldPassword" required #oldPassword="ngModel"/>
          <p class="help-block" [hidden]="oldPassword.valid || !submitted">
            请填写目前密码
          </p>
        </div>
        <div class="form-group">
          <label>新密码</label>
          <input type="password" name="newPassword" class="form-control" [(ngModel)]="user.newPassword" required #newPassword="ngModel"
                 minlength="3"/>
          <p class="help-block"
             [hidden]="newPassword.valid || !submitted">
            密码必须为三字符以上
          </p>
        </div>
        <div class="form-group">
          <label>确认新密码</label>
          <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="user.confirmPassword" required #confirmPassword="ngModel"
                 match="user.newPassword"
                 minlength="3"/>
          <p class="help-block"
             [hidden]="confirmPassword.valid || !submitted">
            密码必须符合
          </p>
        </div>
        <p class="help-block"> {{ message }} </p>
        <button class="btn btn-lg btn-primary" type="submit">保存变更 </button>
      </form>
    </div>
  </div>
</div>
